In [17]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [18]:
import numpy as np
import pandas as pd
from scipy import stats as st

In [19]:
import datetime as dt

In [20]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [21]:
import os
# os.path.dirname(os.path.abspath(__file__))
os.getcwd()

'd:\\Databootcamp\\homework\\project2-group3\\scripts'

In [22]:
engine = create_engine(f"sqlite:///{os.getcwd()}/newyork.db")

In [23]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
# reflect the tables
inspector = inspect(engine)
tables = inspector.get_table_names()
tables

['attendance_data', 'county_data']

In [24]:
# We can view all of the classes that automap found
for table in tables:
    columns = inspector.get_columns(f'{table}')
    print(f'The table {table} contain the following column')
    for c in columns:
        print(c['name'], c["type"])
    print('\n')

The table attendance_data contain the following column
No INTEGER
Year INTEGER
County TEXT
Facility INTEGER
Attendance INTEGER


The table county_data contain the following column
County TEXT
Attendance INTEGER
Income INTEGER
Population INTEGER

In [25]:
# Check County table df using SQL command
conn = engine.connect()
county_df = pd.read_sql("SELECT * FROM county_data", conn)
county_df.head()

        County  Attendance  Income  Population
0       Albany      692080   66252      305506
1    Allegany        50133   48412       46091
2        Bronx      339868   40088     1418207
3       Broome      252508   52226      190488
4  Cattaraugus     1521210   48703       76117

In [26]:
conn = engine.connect()
attn_df = pd.read_sql("SELECT * FROM attendance_data", conn)
attn_df.head()

   No  Year    County             Facility  Attendance
0   0  2020  Tompkins  Allan Treman Marina      341963
1   1  2019  Tompkins  Allan Treman Marina      355313
2   2  2018  Tompkins  Allan Treman Marina      291507
3   3  2017  Tompkins  Allan Treman Marina      311260
4   4  2016  Tompkins  Allan Treman Marina      318309

In [27]:
# Save references to each table
county = Base.classes.county_data
attendance = Base.classes.attendance_data

In [28]:
session = Session(engine)